:root {
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid rgb(0, 174, 255);
    object-fit:cover;
    margin-left: 10px;
}

#root {
    display: grid;
    grid-template-columns: minmax(300px, 800px);
    justify-content: center;
}

ul {
    overflow: hidden;
    padding: 0px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(172, 172, 172);
}

li:hover {
    cursor: pointer;
}

#delete-button {
    height: 30px;
}

#id {
    font-weight: 400;
    color: grey;
}

#main-info {
    font-weight: 600;
    margin-right: auto;
    margin-left: 20px;
}